:root{
    --bgcolor:#fefefe;
    --whiteshade01: #EAF3D8;
    --whiteshade02: #F1F7ED;
    --textcolor: #101010;
    --grey: #4b4b4b;
    --border:.1rem #d9d9d9 solid;
    --prycolor:#95C13D;
    --seccolor: #638129;
    --lightgrey:#8e8e8e;
    --barcolor:#4A601E;
    --shadow:0 3px 6px rgba(0, 0, 0, 0.05) ;
    --color3:#F1F7ED;

}

*{
    font-family:  'Mulish';
    font-weight: 400;
    margin-bottom:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}

.btn{
    margin-top: .1rem;
    display:inline-block;
    padding:10px 16px;
    font-size: 16px;
    color:var(--bgcolor);
    background: #004737;
    cursor: pointer;
    font-family: 'Mulish';
    text-align: center;
    text-transform: none;
    text-decoration: none;
    align-items: center;
    border-radius: 8px;
}

.secbtn{
    margin-top: .1rem;
    display:inline-block;
    padding:10px 16px;
    font-size: 16px;
    color:var(--textcolor);
    background-color: #AAF8CF;
    cursor: pointer;
    font-family: 'Mulish';
    text-align: center;
    text-transform: none;
    text-decoration: none;
    align-items: center;
    border-radius: 8px;
}
.secbtn:hover{
    color: var(--textcolor);
    background-color: #5EFEA9;
}
.btn:hover{
    background-color:#002F25;
}
.delete-btn{
    margin-top: .1rem;
    display:inline-block;
    padding:10px 16px;
    font-size: 16px;
    color:var(--textcolor);
    background-color:#F84C4C;
    cursor: pointer; 
    font-family: 'Mulish';
    text-align: center;
    text-transform: none;
    text-decoration: none;
    align-items: center;
    border-radius: 8px;
}

body{
    margin:0;
    padding:0;
    background-color:var(--whiteshade01);
    color:var(--textcolor);
    font-family: Mulish;
    

}

.material-icons-outlined{
    
    vertical-align: middle;
    line-height: 1px;
    font-size: 22px;
    
    color:var(--bgcolor);
    margin-right: .8rem;
}

/*--Grid Container--*/
.grid-container{
    display:grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows:0.2fr 3fr;
    grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
    height:100vh;

}
/*--Header--*/
.header{
    grid-area: header;
    height:70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 30px 0 30px;
    
    
    

}

.header .material-icons-outlined{
    color: var(--grey);
}
.menu-icon{
    display:none;
}
/*--Sidebar--*/
#sidebar{
    grid-area: sidebar;
    height:100%;
    background-color:#004737;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:3rem;
    margin-bottom: 2.4rem;
}

.sidebar-title > span{
    display: none;

}


.sidebar-brand {
    margin-top: 0px;
    font-size: 20px;
}

.sidebar-brand img{
    max-width: 120px;
    margin-bottom: 0;
    position: absolute;
    display: flex;
    justify-content: left;
    
}

.sidebar-list{
    padding:1.6rem;
    margin-top: 1.6rem;
    list-style-type: none;
}

.sidebar-list-item{
    padding:1rem 1rem 1rem 1rem;
    font-family: Mulish;
    font-size: 1rem;
    color: #fff;
    
}

.sidebar-list-item a{
    color: var(--bgcolor);
    font-family: Mulish;
    font-size: 1rem;
    
}
.sidebar-list-item:hover{
    background-color: #5EFEA9;
    cursor: pointer;
    color:var(--textcolor);
    
    

}

.sidebar-responsive{
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

/*--Main Container--*/

.main-container {
    grid-area: main;
    padding:20px 20px;
    overflow-y: auto;
    color:var(--textcolor);
}

.main-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
}


.main-container .nav a{
    
   
    padding-right: 20px;
}

.main-container .toparea a{
    align-items: right;
    
}



/*--Table--*/
.card{
    margin-top: 1.6rem;
    
    align-items: justify;
    justify-content: space-evenly;
    padding: 1.6rem 1.6rem;
    border-radius: 8px;
    background-color:#fff;
}
.card-container{
    margin-top: 1.6rem;
    
    align-items:center;
    align-items: justify;
    justify-content: space-evenly;
    padding: 1.6rem 1.6rem;
    border-radius: 8px;
    background-color:#fff;
}
.card-container h4{
    padding-left: 1.6rem;
}
.card-items{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items:center;
    align-items: justify;
    justify-content: space-evenly;
    
    border-radius: 8px;
    background-color:#fff;
}
.input-field{
   display: inline-grid;
   
}
.input-field label{
    
    font-size:1rem;
    font-weight: 500;
    color:var(--textcolor);

}
.input-field input{
    outline:none;
    width: 260px;
    border:var(--border);
    border-radius: 5px;
    padding:0 16px;
    font-size: 1rem;
    height:3rem;
    margin: 4px 0;
    color:var(--grey);
    background-color: none;

}

.input-field .drop {
    
    outline:none;
    border:var(--border);
    border-radius: 5px;
    padding:0 15px;
    font-size: 1rem;
    height:3rem;
    margin: 4px 0;
    color:var(--grey);
    

}


.input-field input:is(:focus, :valid){
        box-shadow:0 3px 6px rgba(0, 0, 0, 0.01);
}
.header-table{
    grid-area: header;
    height:64px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.header-table .drop{
    border-radius: 5px;
    justify-content: right;
    padding:0 15px;
    font-size: 1rem;
    height:3rem;
    margin: 4px 0;
    background-color:#004737;
    color:var(--bgcolor)
}
.table{
    padding: 100px;
    border-bottom: var(--lightgrey);
    justify-content: space-evenly;
    width: 100%;
   
    
}
.stock-table-list{
    text-align:left;
    align-items: space-evenly;
    min-height:450px;
}

.stock-table{
    
    margin-top: 1rem ;
    width:100%;
    justify-content:justify ;
    font-size: 14px;
    text-align:left;
    
    color:var(--textcolor);
    border-collapse: collapse;
    
}

.stock-table thead{

    align-items: left;
    margin-right: 1000px;
    text-align: right;
    border-bottom: var(--border);
}


.stock-table thead tr th{
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    padding-bottom: .8rem;
    text-align:left;
}
tr:last-child td:last-child{
    align-items: right;
}

.stock-table tbody a{
    color:#004737;
    padding-right: 1rem;
    align-items: right;
    text-align: right;
} 
.stock-table tbody i{
    font-size: 18px;
}
.stock-table tbody .edit{
    display: inline-grid;
    text-align: center;
    font-size: 12px;
}
.stock-table tbody .delete{
    display: inline-grid;
    text-align: center;
    color: #F84C4C;
}
.stock-table tbody  th{
   
    color:#303030;
    padding: 1rem 0;
    font-weight: 400;
    line-height: 160%;
    border-bottom: var(--border);
    
}

.stock-table tbody tr th:hover{
    background-color: var(--color3);
    transition: all 200ms ease;
   
}

.navbtn{
    margin-top: .1rem;
    display:inline-block;
    padding:8px 16px;
    font-size: 16px;
    color:var(--textcolor);
    background: var(--color3);
    cursor: pointer;
    font-family: 'Mulish';
    text-align: center;
    text-transform: none;
    text-decoration: none;
    align-items: center;
    border-radius: 8px;
}

.navbtn::onclick{
    background-color: #AAF8CF;
}

/*--Media Queries--*/


/*--Media Queries for medium size screens--*/

@media screen and (max-width:992px ) { 
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
        "header"
        "main" ;
    }
    
    #sidebar{
        display: none;

    }
    .menu-icon{
        display:inline;

    }

    .sidebar-title span{
        display: inline;

    }
}

/*--Media Queries for small size screens--*/

@media screen and (max-width:768px ) { 
    .main-cards{
        grid-template-columns: 1fr;
        gap: 16px;
        margin-bottom:0;
    }

    .charts{
        grid-template-columns: 1fr;
        margin: 30px;
    }
    
}
/*--Media Queries for small size screens--*/

@media screen and (max-width:576px ) { 
        .header-left{
            display: none;
        }
    
}