:root{
    --bgcolor:#fefefe;
    --whiteshade01: #EAF3D8;
    --whiteshade02: #F1F7ED;
    --textcolor: #101010;
    --grey: #4b4b4b;
    --border:.1rem #d9d9d9 solid;
    --prycolor:#95C13D;
    --seccolor: #638129;
    --lightgrey:#8e8e8e;
    --barcolor:#4A601E;
    --shadow:0 3px 6px rgba(0, 0, 0, 0.05) ;
    --color3:#F1F7ED;

}

*{
    font-family:  'Mulish';
    font-weight: 400;
    margin-bottom:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
}

.btn{
    margin-top: .1rem;
    display:inline-block;
    padding:10px 16px;
    font-size: 16px;
    color:var(--bgcolor);
    background: #004737;
    cursor: pointer;
    font-family: 'Mulish';
    text-align: center;
    text-transform: none;
    text-decoration: none;
    align-items: center;
    border-radius: 8px;
}

.secbtn{
    margin-top: .1rem;
    display:inline-block;
    padding:10px 16px;
    font-size: 16px;
    color:var(--textcolor);
    background-color: #AAF8CF;
    cursor: pointer;
    font-family: 'Mulish';
    text-align: center;
    text-transform: none;
    text-decoration: none;
    align-items: center;
    border-radius: 8px;
}
.secbtn:hover{
    color: var(--textcolor);
    background-color: #5EFEA9;
}
.btn:hover{
    background-color:#002F25;
}
.delete-btn{
    margin-top: .1rem;
    display:inline-block;
    padding:10px 16px;
    font-size: 16px;
    color:var(--textcolor);
    background-color:#F84C4C;
    cursor: pointer; 
    font-family: 'Mulish';
    text-align: center;
    text-transform: none;
    text-decoration: none;
    align-items: center;
    border-radius: 8px;
}

body{
    margin:0;
    padding:0;
    background-color:var(--whiteshade01);
    color:var(--textcolor);
    font-family: Mulish;
    

}

.material-icons-outlined{
    
    vertical-align: middle;
    line-height: 1px;
    font-size: 22px;
    
    color:var(--bgcolor);
    margin-right: .8rem;
}

/*--Grid Container--*/
.grid-container{
    display:grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows:0.2fr 3fr;
    grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
    height:100vh;

}
/*--Header--*/
.header{
    grid-area: header;
    height:70px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 30px 0 30px;
    
    
    

}

.header .material-icons-outlined{
    color: var(--grey);
}
.menu-icon{
    display:none;
}
/*--Sidebar--*/
#sidebar{
    grid-area: sidebar;
    height:100%;
    background-color:#004737;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.sidebar-title{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:3rem;
    margin-bottom: 2.4rem;
}

.sidebar-title > span{
    display: none;

}


.sidebar-brand {
    margin-top: 0px;
    font-size: 20px;
}

.sidebar-brand img{
    max-width: 120px;
    margin-bottom: 0;
    position: absolute;
    display: flex;
    justify-content: left;
    
}

.sidebar-list{
    padding:1.6rem;
    margin-top: 1.6rem;
    list-style-type: none;
}

.sidebar-list-item{
    padding:1rem 1rem 1rem 1rem;
    font-family: Mulish;
    font-size: 1rem;
    color: #fff;
    
}

.sidebar-list-item a{
    color: var(--bgcolor);
    font-family: Mulish;
    font-size: 1rem;
    
}
.sidebar-list-item:hover{
    background-color: #5EFEA9;
    cursor: pointer;
    color:var(--textcolor);
    
    

}

.sidebar-responsive{
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
}

/*--Main Container--*/

.main-container {
    grid-area: main;
    padding:20px 20px;
    overflow-y: auto;
    color:var(--textcolor);
}

.main-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
}


.main-container .nav a{
    
   
    padding-right: 20px;
}

.main-container .toparea a{
    align-items: right;
    
}

.list-item{
    justify-content: center;
    font-size: 14px;
    padding: 16px;
    background-color: var(--bgcolor);
    margin-bottom: 8px;
    border-radius: 8px;
    
   
}

.list-item i{
    font-size: 18px;
    justify-content: center;
    padding-right: 8px;
}

.list-item a{
    align-items: center;
    justify-content: center;
    color: var(--textcolor);
}
